/* Import des polices */
@font-face {
    font-family: 'ITC Avant Garde Std';
    src: url('fonts/ITCAvantGardeStd-Demi.woff2') format('woff2'),
    url('fonts/ITCAvantGardeStd-Demi.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'ITC Avant Garde Std';
    src: url('fonts/ITCAvantGardeStd-Bold.woff2') format('woff2'),
    url('fonts/ITCAvantGardeStd-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'ITC Avant Garde Std';
    src: url('fonts/ITCAvantGardeStd-BoldObl.woff2') format('woff2'),
    url('fonts/ITCAvantGardeStd-BoldObl.woff') format('woff');
    font-weight: 700;
    font-style: italic;
}

/* Base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'ITC Avant Garde Std', sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0f0f0;
    color: #000;
    font-size: 16px;
    line-height: 1.6;
    overflow: hidden;
}

/* Bloc header agrandi et centré */
header.intro {
    min-height: 100vh; /* Hauteur minimum de l'écran */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
    background-color: #eaeaea;
    width: 100%;
    transition: transform 0.8s ease;
}

/* Organisation des lignes dans l'intro */
.intro-text {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Augmenter l'espace entre les lignes */
    align-items: center;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 3vw; /* Taille de police relative à la largeur de l'écran */
}

/* Première ligne : Nom et image */
.line-one, .line-two {
    display: flex;
    align-items: center;
    justify-content: center; /* Center the content horizontally */
    gap: 40px;
    width: 100%;
    padding: 10px; /* Espacement interne */
}

.name-container {
    display: flex;
    justify-content: center; /* Center the name horizontally */
    flex-grow: 1; /* Allow the container to grow */
    font-size: 7vw;
    text-shadow: 2px 2px #ff0000; /* Ombre portée pour le texte */
}

.reduce-space::before {
    content: '';
    margin-right: -0.15em; /* Adjust the value as needed */
}

.reduce-space, .reduce-space-after {
    letter-spacing: -0.15em; /* Adjust the value as needed */
}

.line-two .job {
    font-size: 3vw;
    font-weight: 400;
    text-align: center;
    white-space: pre-wrap; /* Allow content to wrap to multiple lines */
    line-height: 1.2;
}

/* Style de l'image de profil */
.profile-image {
    width: 200px;
    height: 200px;
    border-radius: 0;
    border: 1px solid #000;
    box-shadow: 10px 10px 0 #333;
    filter: grayscale(100%);
    margin-left: 2vw; /* Add margin to prevent overlap */
    margin-right: 3vw; /* Add margin to prevent overlap */
    flex-shrink: 0; /* Prevent the image from shrinking */
    transition: transform 0.3s ease-in-out;
    z-index: 1;
}

.profile-image:hover {
    transform: scale(1.2);
    z-index: 10;
}

/* Mots-clés */
.keywords {
    margin-top: 20px;
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
    color: #555;
    text-align: center;
}

.intro-text .name, .intro-text .job, .profile-image, .keywords {
    opacity: 0; /* Initialement cachés */
    transform: scale(0.8); /* Échelle réduite */
    transition: opacity 0.3s ease, transform 0.3s ease; /* Transition pour le fade */
}

/* État actif après l'animation de chargement */
.intro-text.active .name, .intro-text.active .job, .intro-text.active .profile-image, .intro-text.active .keywords {
    opacity: 1; /* Assurez-vous que c'est visible après chargement */
    transform: scale(1); /* Réinitialise l'échelle */
}

.line-one .name { animation-delay: 0.7s; }
.profile-image { animation-delay: 1.4s; }
.line-two .job, .line-two .name { animation-delay: 2.1s; }
.keywords { animation-delay: 2.8s; }

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: scale(0.8);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.scroll-container {
    height: 100vh;
    position: relative;
}

/* Section content en deux colonnes */
.content {
    position: fixed; /* Fixe le contenu à l'écran */
    top: 50%; /* Centré verticalement */
    left: 50%; /* Centré horizontalement */
    transform: translate(-50%, -50%); /* Centre parfaitement */
    padding: 20px;
    transition: opacity 0.5s ease; /* Transition d'opacité */
    opacity: 0; /* Commence caché */
    pointer-events: none; /* Empêche l'interaction quand c'est caché */
    max-width: 800px;
    margin: auto;
}

/* Réduction des bordures */
#projets, footer {
    padding: 15px;
    border: 1px solid #000;
    margin: 10px;
    text-align: center;
}

/* Footer */
footer {
    font-size: 0.9rem;
    color: #333;
}

/* Liens */
a {
    color: #000;
    text-decoration: none;
    border-bottom: 1px solid #000;
    transition: color 0.2s ease-in-out;
}

a:hover {
    color: red;
}

/* Flèche vers le bas */
.arrow-down {
    position: absolute;
    bottom: 20px; /* Positionner la flèche en bas */
    font-size: 2rem;
    color: #000;
    border: 5px solid #000;
    padding: 10px;
    box-shadow: 10px 10px 0 #333;
    display: inline-block;
    transform: rotate(45deg);
    width: 20px;
    height: 20px;
    border-left: none;
    border-top: none;
    animation: bounce 1s infinite;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0) rotate(45deg);
    }
    40% {
        transform: translateY(10px) rotate(45deg);
    }
    60% {
        transform: translateY(5px) rotate(45deg);
    }
}

/* Classes pour le scroll */
.scrolled-down .intro {
    transform: translateY(-100vh); /* Cache l’intro */
}

.scrolled-down .content {
    transform: translateY(-100vh); /* Amène le contenu en haut */
    opacity: 1;
}