/* Existing styles in layout.css */
header.intro {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
    background-color: #eaeaea;
    width: 100%;
    transition: transform 0.8s ease;
}

.intro-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 3vw;
}

.line-one, .line-two {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    width: 100%;
    padding: 10px;
}

.name-container {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    font-size: 7vw;
    text-shadow: 2px 2px #ff0000;
}

.reduce-space::before {
    content: '';
    margin-right: -0.15em;
}

.reduce-space, .reduce-space-after {
    letter-spacing: -0.15em;
}

.line-two .job {
    font-size: 3vw;
    font-weight: 400;
    text-align: center;
    white-space: pre-wrap;
    line-height: 1.2;
}

@media (max-width: 768px) {
    .intro {
        transform: translateY(-40px);
    }
    .name-container {
        font-size: 9vw;
    }

    .line-one .name-container {
        padding-left: 100px;
    }
    .line-two .job {
        padding-left: 110px;
        font-size: 4vw;
    }
    .line-two .name-container {
        padding-right: 80px;
    }
}

.scroll-container {
    height: 100vh;
    position: relative;
}

.content {
    position: fixed; /* Fixe le contenu à l'écran */
    top: 50%; /* Centré verticalement */
    left: 50%; /* Centré horizontalement */
    transform: translate(-50%, -50%); /* Centre parfaitement */
    padding: 20px;
    transition: opacity 0.5s ease; /* Transition d'opacité */
    opacity: 0; /* Commence caché */
    pointer-events: none; /* Empêche l'interaction quand c'est caché */
    margin: auto;
    margin-top: -5vh;
    width: 80%;
    z-index: 1;
}

.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects-title, .follow-me-title {
    text-align: center;
    margin-bottom: 20px;
    width: 100%;
}

.carousel {
    position: relative;
    width: 100%;
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease;
    width: 100%;
    margin-left: auto;
    margin-right: 20px;
    justify-content: center;
}

/* Navigation */
.carousel-nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
}

.carousel-nav {
    position: absolute;
    top: 50%; /* Centre verticalement */
    transform: translateY(-50%); /* Ajuste le positionnement */
    background: none; /* Pas de fond */
    border: none; /* Pas de bordure */
    cursor: pointer; /* Curseur pointeur */
    font-size: 2em; /* Taille des flèches */
    color: #000; /* Couleur par défaut */
    transition: color 0.3s; /* Transition pour la couleur */
    z-index: 10; /* Assure que les boutons sont au-dessus des autres éléments */
}

.carousel-nav.prev {
    left: 10px; /* Distance depuis le bord gauche */
}

.carousel-nav.next {
    right: 10px; /* Distance depuis le bord droit */
}

@media (max-width: 768px) {
    .carousel-nav.prev {
        left: -30px; /* Déplace la flèche plus à gauche */
    }
    .carousel-nav.next {
        right: -40px; /* Move the arrow further to the right */
    }
}

.carousel-nav::before {
    content: ''; /* Create an arrow using the pseudo-element */
    display: block; /* Display the pseudo-element as a block */
    width: 0; /* Width 0 for the triangle */
    height: 0; /* Height 0 for the triangle */
    border-style: solid;
}

.carousel-nav.prev::before {
    border-width: 25px 30px 25px 0; /* Increase the size of the left arrow */
    border-color: transparent #000 transparent transparent; /* Color for the left arrow */
}

.carousel-nav.next::before {
    border-width: 25px 0 25px 30px; /* Increase the size of the right arrow */
    border-color: transparent transparent transparent #000; /* Color for the right arrow */
}

/* Adjust hover effect */
.carousel-nav.prev:hover::before {
    border-color: transparent #ff0000 transparent transparent; /* Change color on hover for left arrow */
}

.carousel-nav.next:hover::before {
    border-color: transparent transparent transparent #ff0000; /* Change color on hover for right arrow */
}

.projects-page {
    max-width: 100%;
    gap: 20px;
    margin-left: 40px;
    display: none;
}

.projects-page.active {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Distribute space between elements */
    align-items: center;
    position: relative;
    padding: 20px;
    margin: 0 20px;
    background-color: #fafafa;
    box-shadow: 10px 10px 0 #ff0000, -5px -5px 0 #000;
    transition: transform 0.3s ease;
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.project:hover {
    transform: translate(-5px, -5px) rotate(-2deg);
}

.project h3 {
    font-size: 1.5em;
    font-weight: bold;
    color: #000;
    padding-bottom: 5px;
    border-bottom: 2px solid #000;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.project p {
    font-size: 0.95em;
    line-height: 1.4em;
    margin-top: 10px;
    color: #333;
    background: #fff;
    padding: 10px;
    border: 2px dashed #000;
}

.project-image {
    max-width: 100%;  /* L'image ne dépassera pas la largeur du conteneur */
    height: auto;      /* Garde les proportions de l'image */
    display: block;    /* Évite les espaces sous l'image */
    margin: 20px auto;    /* Centre l'image */
    max-height: 20vh; /* Limite la hauteur */
}

.scrolled-down .intro {
    transform: translateY(-100vh); /* Cache l’intro */
}

.scrolled-down .content {
    transform: translateY(-100vh); /* Amène le contenu en haut */
    opacity: 1;
}